<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>swm</display-name>
	
	<context-param>
	  <param-name>contextConfigLocation</param-name> 
      <param-value>classpath:spring/spring-common-config.xml</param-value> 
	</context-param> 
	<listener>  
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
	</listener>
	
	<!--自己创建的测试监听  -->
	<!-- <listener>
		<listener-class>swm.listener.MyServletContextAttributeListener</listener-class>
	</listener>
	<listener>
		<listener-class>swm.listener.MyServletContextListener</listener-class>
	</listener> -->
	
	
	
	<servlet> 
        <servlet-name>swm</servlet-name> 
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
        <!-- <load-on-startup>1</load-on-startup> --> 
        <!-- 这样初始化之后就不会读swm-servlet.xml 默认是 一般是用来配置springMVC的配置文件-->
        <init-param>
        	<param-name>contextConfigLocation</param-name>
        	<param-value>/WEB-INF/classes/spring-servlet-config.xml</param-value>
        </init-param>
    </servlet>  
    <servlet-mapping> 
        <servlet-name>swm</servlet-name> 
        <url-pattern>/</url-pattern> 
    </servlet-mapping>
    
    <!-- 单独的servlet测试 -->
    <servlet>
    	<servlet-name>HelloWorldServlet</servlet-name>
    	<servlet-class>swm.servlet.HelloWorldServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>HelloWorldServlet</servlet-name>
    	<url-pattern>/toHelloWorldServlet</url-pattern>
    </servlet-mapping>
    
    <filter> 
	    <filter-name>CharacterEncodingFilter</filter-name> 
	    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
	    <init-param> 
	        <param-name>encoding</param-name> 
	        <param-value>utf-8</param-value> 
	    </init-param> 
	</filter> 
	<filter-mapping> 
	    <filter-name>CharacterEncodingFilter</filter-name> 
	    <url-pattern>/*</url-pattern> 
	</filter-mapping>
	
	<!--没有什么卵用的过滤器  -->
	<!-- <filter>
		<filter-name>HelloWorldFilter</filter-name>
		<filter-class>swm.filter.HelloWorldFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HelloWorldFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
    
    
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>